<div class="book-link">
  <div><a href="https://trello.com/b/2n8bdc12/books" target="_blank">Currently Reading:</a></div>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=volb-20&marketplace=amazon&region=US&placement=B002SDGLUK&asins=B002SDGLUK&linkId=7f2843c098d02f2622a9ab269acf7d3a&show_border=true&link_opens_in_new_window=true"></iframe>
</div>