<footer class="container footer">
  <div class="row">
    {{#if settings.menu}}
    <nav class="column">
      {{#each settings.menu}}
        <a href="{{this.url}}">{{this.name}}</a>{{#unless @last}} |{{/unless}}
      {{/each}}
    </nav>
    {{/if}}
    <div class="column">
      &copy;{{ settings.year }} - {{ settings.authorName }}
    </div>
  </div>
</footer>

