<div class="row page-indicator">
  <div class="column title">
    <h5>{{ title }}
      {{#if_string settings.environment 'development'}}
          | <a href="/posts/add">New Post</a>
      {{/if_string}}
    </h5>
  </div>

  <div class="column search">
    {{> search-form }}
  </div>
</div>