<form action="/search" method="get">
  <div class="row ">
    <div class="column column-75">
      <input name="q" id="q" type="text" placeholder="Search">
    </div>
    <div class="column">
      <input type="submit" class="button-blue" value="Go">
    </div>
  </div>
</form>
