<div class="float-right social">
  {{#if settings.social.linkedin}}
    <a href="{{ settings.social.linkedin }}" target="_blank" title="Linkedin"><i class="icons icon-social-linkedin"></i></a>
  {{/if}}
  {{#if settings.social.github}}
    <a href="{{ settings.social.github }}" target="_blank" title="Github"><i class="icons icon-social-github"></i></a>
  {{/if}}
  {{#if settings.social.twitter}}
    <a href="{{ settings.social.twitter }}" target="_blank" title="Twitter"><i class="icons icon-social-twitter"></i></a>
  {{/if}}
  <a href="/rss" title="RSS Feed"><i class="icons icon-feed"></i></a>
</div>
