{{#if tags}}
  <p class="tags">
    {{#each tags}}
      <a href="/tags/{{this._id}}" title="More {{this._id}} posts">
        <i class="icon-tag icons"></i>
        {{this._id}}
      </a>
    {{/each}}
  </p>
{{/if}}
