{{#if tags}}
  <p class="tags">
    {{#each tags}}
      <a href="/tags/{{this._id}}" title="More {{this.name}} posts">
        <i class="icon-tag icons"></i>
        {{this.name}}
      </a>
    {{/each}}
  </p>
{{/if}}
