<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ title }}</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/x-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</head>
<body>

<div class="container header">
  <h1><a href="/">{{ settings.siteName }}</a></h1>
  <p>{{ settings.siteDescription }}</p>
</div>

<div class="container main">
  <div class="row">
    <div class="column">
      {{{body}}}
    </div>
  </div>
</div>

<div class="container footer">
  <div class="row">
    <div class="column">
      <a href="/">Home</a> |
      <a href="/types/blog">Blog Posts</a> |
      <a href="/types/project">Projects</a> |
      <a href="/rss">RSS</a>
    </div>
  </div>
</div>

</body>
</html>
