form {
  label.required:after {
    color: red;
    content: " *";
  }
  .extra {
    border-top: 1px solid #eee;
    margin-top: 1rem;
    padding-top: 1.5rem;
  }
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #152B55;
  border-color: #152B55;
}
input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #152B55;
}