.post {
  background: #ffffff;
  margin: 1rem;
  padding: 1.5rem;

  h1 {
    font-size: 3.6rem;
    line-height: 1.25;
  }

  h2 .icons {
    color: #fff;
    background: #5f99cf;
    padding: .5rem;
    font-size: 75%;
    border-radius: 5px;
  }

  .type, .tags {
    text-transform: capitalize;
  }

  .tags a {
    margin-right: .5rem;
  }

  .post-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .post-content p {
    line-height: 2.8rem;
    a {
      text-decoration: underline;
    }
  }

  .book-link {
    float: right;
    margin-left: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
  }
  
  .link-button {
    text-align: center;
  }

  .signup p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}
