@import '~normalize.css';
@import '~milligram';

body {
  background: #F7F8FA;
  color: #152B55;
}
.header {
  background: #ffffff;
  padding: 3.5rem;
}
a {
  color: #152B55;
}
p a {
  color: #152B55;
}
.post {
  background: #ffffff;
  margin: 1rem;
  padding: 2.5rem;

  h1 {
    font-size: 3.6rem;
    line-height: 1.25;
  }
}