@import "~normalize.css";
@import "~milligram";
@import "pagination";
@import "post";
@import "share";

body {
  background: #F7F8FA;
  color: #152B55;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  background: #ffffff;
  padding: 2.5rem;
}
a {
  color: #152B55;
}
p a {
  color: #152B55;
}
.page-indicator {
  padding: 2.5rem;
}
.pagination-container {
  padding: 2.5rem;
}
