<div class="post 404">
  <h1>404: Not Found</h1>

  <div class="row">
    <div class="column">
      <p>Something went wrong here. Maybe try searching?</p>
      {{> search-form }}
    </div>
  </div>

</div>
