<div class="page-indicator">{{ title }}</div>
<div class="posts">
  {{#each posts}}
    <div class="post">
      <h2>
        <a href="/posts/{{this._id}}">
          <i class="icon-notebook icons"></i>
          {{this.title}}
        </a>
      </h2>
    </div>
  {{/each}}
</div>
<div class="pagination-container">{{> pagination }}</div>
