{{> page-indicator title=title}}

<div class="row posts">
  <div class="column">
  {{#each posts}}
    <div class="post" itemscope itemtype="http://schema.org/Article">
      <!-- Post Title -->
      <h2>
        <a itemprop="url" href="/posts/{{this._id}}">{{this.title}}</a>
      </h2>

      <!-- Metadata -->
      <div class="row">
        <div class="column">
          {{> type type=this.type }}
        </div>
        <div class="column">
          {{> date date=this.date }}
        </div>
        <div class="column">
          {{> tags tags=this.tags }}
        </div>
      </div>

      {{#if @first}}
        {{#if this.imageUrl}}
          <div class="post-image"><img src="{{ this.imageUrl }}"></div>
        {{/if}}
      {{/if}}

      <!-- Post Summary -->
      {{#if this.summary}}
        <div>{{{ this.summary }}}</div>
      {{/if }}
    </div>
  {{/each}}
  </div>
</div>

{{> pagination }}
