<div class="page-indicator">{{ title }}</div>
<div class="posts">
  {{#each posts}}
    <div class="post">
      <h2>
        <a href="/posts/{{this._id}}">
          {{this.title}}
        </a>
      </h2>

      {{> type type=this.type }}

      {{> tags tags=this.tags }}

      {{#if this.summary}}
        <div>{{{ this.summary }}}</div>
      {{/if }}
    </div>
  {{/each}}
</div>
<div class="pagination-container">{{> pagination }}</div>
