<div class="post" id="post-{{post._id}}">
  <h1>{{post.title}}</h1>

  <!-- Metadata -->
  <div class="row">
    <div class="column">
      {{> type type=post.type }}
    </div>
    <div class="column">
      {{> date date=post.date }}
    </div>
    <div class="column">
      {{> tags tags=post.tags }}
    </div>
  </div>

  {{> share post=post }}

  <div class="post-content">{{{ post.content }}}</div>

  <!--<div><a href="/posts/{{post._id}}/edit"><i class="icon-note icons"></i> Edit</a></div>-->
</div>
